body {
    background-image: linear-gradient(to right, rgb(130, 107, 151), rgb(45, 45, 78));

}

.review_Section {
    text-align: center;
    border: 2px solid;
    border-radius: 15px;
    margin: 200px 250px ;
}

.star {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -25px;
}